body {
  margin: 0;
  font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
    "ubuntu", "cantarell", "fira sans", "droid sans", "helvetica neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  width: 19.28%;
  border-width: 2px;
  display: inline-block;
  height: 300px;
  overflow: hidden;
}

.card-img-top {
  width:100%;
  max-height:45%;
  min-height:45%;
  object-fit: cover;

}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {

}

.card-back {

}

.music {
  background-color: purple;
}
.book {
  background-color:blue;
}
.author {
  background-color:pink;
}
.game {
  background-color:yellow;
}
.movie {
  background-color: red;
}
.show {
  background-color: green;
}

.card-title {
  overflow: hidden;
  height:100px;
}

.card-body {
}

.card .fas {
  vertical-align: text-bottom;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup {
  text-align: center !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 20;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 6%;
  bottom: 6%;
  margin: auto;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
}

iframe {
  margin: 5px;
  text-align: center;
}

.holds-the-iframe {
  text-align: center;
  position: relative;
  height: 40%;
  width: 70%;
  background:url('https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif') center center no-repeat;
}

.close-button {
  margin-left: 20px;
  width: 5%;
  height: 5%;

}

.fa-window-close {
  margin-left: 350px;
}



.popupHead {
  display: inline-block;
  font-size: 30px;
}

.popupInfo {
  text-align: left !important;
}
