body {
  margin: 0;
  font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
    "ubuntu", "cantarell", "fira sans", "droid sans", "helvetica neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  width: 19.28%;
  border-width: 2px;
  display: inline-block;
  height: 300px;
  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card-img-top {
  width:100%;
  max-height:45%;
  min-height:45%;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

.card:hover .card-img-top{
  transform: scale(1.1);
}

.music {
  background-color: #f9ebaa;
}
.book {
  background-color:#d4e5b5;
}
.author {
  background-color:#b6e4d1;
}
.game {
  background-color:#b6cee5;
}
.movie {
  background-color: #e5b5c5;
}
.show {
  background-color: #f1c8c0;
}

.card-title {
  font-size: 1.2em;
  height:90px;
  overflow: hidden
}

.card-body {
}

.card .fas {
  vertical-align: text-bottom;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup {
  text-align: center !important;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 20;
}
.popup_inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 9%;
  bottom: 6%;
  margin: auto;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
}

iframe {
  margin: 5px;
  text-align: center;
}

.holds-the-iframe {
  margin-left: 105px;
  text-align: center;
  position: relative;
  height: 40%;
  width: 70%;
  background:url('https://media.giphy.com/media/y1ZBcOGOOtlpC/giphy.gif') center center no-repeat;
}



.fa-window-close {
  margin-left: 675px;
margin-top: 5px;

}



.popupHead {
  display: inline-block;
  font-size: 30px;
  margin-top: -150px;
  margin-bottom: 20px;
}

.popupInfo {
  text-align: left !important;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  margin-top: 80px;
}

.navbar {
  background-color: #747474;
}
